.product-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    cursor: pointer;

    img {
        width: 100%;
        height: 95%;
        display: block;
        object-fit: cover;
        margin-bottom: 5px;
    }

    button {
        position: absolute;
        top: 225px;
        display: none;
        width: 80%;
    }

    &:hover {
        img {
            opacity: 0.5;
        }

        button {
            display: block;
            opacity: 0.85;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        width: 100%;
        height: 5%;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .price {
            width: 10%;
        }
    }
}